{% extends "aiuts/base.html" %}

{% block mainbody %}
<h2> Action </h2>
<hr />
<ul>
 <li> 
 	Register account: <a href="{% url 'aiuts:signup' %}">link </a>	
 </li>
 <li>
	Get balance: <a href="{% url 'aiuts:getbalance' %}"> here </a>
</li>
{% if all_user %}
	<h2> Current Accounts </h2>
	<hr />
	<ul>
		{% for user in all_user %}
		<li>{{ user.acc_id }} : {{ user.balance }} Baht </li>
		{% endfor %}
	</ul>
	{% else %}
		<p> No accounts are available. </p>
	{% endif %}
	<h2 class="mt-1"> Group Members: </h2>
	<hr />
	<ul>
		<li> Andreas </li>
		<li> Broset </li>
		<li> Bryan </li>
		<li> Yilin </li>
	</ul>

{% endblock %}

{% block goback %}
{% endblock %}