<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> Polls v1.0 </title>
</head>
<body>

<h1> Polls v1.0 </h1>

    {% block mainbody %}
    {% endblock %}
	<address> Created by DAA Class </address>
  


</body>
</html>