{% extends "polls/base.html" %}

{% block mainbody %}
{% if latest_question_list %}
	<h2> Surveys: </h2>
	<ul>
		{% for question in latest_question_list %}
		<li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
		{% endfor %}
	</ul>
	{% else %}
		<p> No polls are available. </p>
	{% endif %}
	<h2 class="mt-1"> Group Members: </h2>
	<ul>
		<li> Andreas </li>
		<li> Broset </li>
		<li> Bryan </li>
		<li> Yilin </li>
	</ul>

{% endblock %}

{% block goback %}
{% endblock %}